<form class="{{cssClass}} sheet-border" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
       <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="150"/>

        <div class="stats" style="flex:1">
                <div style="padding:5px; ">
                    <label style="font-size:16px; text-align:center; display:block;" for="data.brawn.value">BRAWN</label>
                    <input type="text" name="data.stats.brawn" value="{{data.stats.brawn}}" data-dtype="Number"/>
                </div>
                <div style="padding:5px; ":  >
                    <label style="font-size:16px; text-align: center; display:block;" for="data.wit.value">WITS</label>
                    <input type="text" name="data.stats.wits" value="{{data.stats.wits}}" data-dtype="Number"/>
                </div>
                <div style="padding:5px;  ">
                    <label style="font-size:16px; text-align: center; display:block;" for="data.will.value">WILL</label>
                    <input type="text" name="data.stats.will" value="{{data.stats.will}}" data-dtype="Number"/>
                </div>
        </div>

        <div style="flex:5;">
            <h1 class="charname  text-input"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>


            <div class="stats flexrow" >
                <div class="resource">
                    <div style="margin:0 auto; width:90%;">
                        <label for="data.vigor.value" style="font-size:16px; text-align: center; display:block;">Vigor</label>

                            <div style="width:33%; display:inline-block; text-align:center;">
                                <input type="text" name="data.measures.vigour.value" value="{{data.measures.vigour.value}}" data-dtype="Number" style="border-right:none; border-left:none; border-bottom:solid 2px black; width:75%;"/>
                                <small style="text-align:center;">max</small>
                            </div>

                            <div style="width:33%; display:inline-block; text-align:center;">
                                <input type="text" name="data.measures.vigour.max" value="{{data.measures.vigour.max}}" data-dtype="Number" style="border-right:none; border-left:none; border-bottom:solid 2px black; width:75%;"/>
                                <small style="text-align:center;">current</small>
                            </div>
                    </div>
                </div>

                <div class="resource">
                    <label for="data.measures.grip" style="font-size:16px; text-align: center; display:block;">Grip</label>
                    <input type="text" name="data.measures.grip" value="{{data.measures.grip}}" data-dtype="Number"/>
                </div>


            </div>



        </div>

        <div class="stats" style="flex:1;">
            <div style="padding:5px;   text-align:center;">
                <label style="font-size:12px;" for="data.armor">Armor</label><br>
                <input type="text" name="data.armor" value="{{data.armor}}" data-dtype="Number" style=""/>
            </div>

            <div style="padding:5px;   text-align:center;">
                <label style="font-size:12px;" for="data.xp">XP</label><br>
                <input type="text" name="data.xp" value="{{data.xp}}" data-dtype="Number" style=""/>
            </div>
        </div>

    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary" style="padding: 0 5%;">
        <a class="item active" data-tab="description" style="flex:1;">Description</a>
        <a class="item" data-tab="items" style="flex:1;">Gear</a>
        <a class="item" data-tab="features" style="flex:1;">Features</a>

    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body" style=" padding: 0 60px;">

        {{!-- Description Tab --}}
        <div class="tab description active" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

       {{!-- Gear Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            {{> "systems/bestleftburied/templates/actors/partials/gear-tab.html"}}
        </div>

        {{!-- Features Tab --}}
        <div class="tab features" data-group="primary" data-tab="features">
            {{> "systems/bestleftburied/templates/actors/partials/features-tab.html"}}
        </div>



    </section>
</form>

