<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Item Sheet Header --}}
    <header class="item sheet-header" data-item-id="{{item._id}}">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <div class="itemline">
                <h1 class="itemname">
                    <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'BLB.Name'}}"
                        data-dtype="String" />
                </h1>
                <div class="item-controls">
                    <a class="item-control item-delete" title="{{localize 'BLB.Del'}}"><i
                            class="fas fa-trash fa-2x"></i></a>
                </div>
            </div>
        </div>
    </header>
    <section class="sheet-body">
        <div class="form-group">
            <label for="level">Level</label>
            <select name="data.level" id="level" data-dtype="String">
                <option value="trained">Trained</option>
                <option value="expert">Expert</option>
                <option value="master">Master</option>
            </select>
            <label for="modifier">Die Modifier</label>
            <input id="modifier" name="data.modifier" type="text" value="{{data.modifier}}"
                placeholder="10" data-dtype="String" />
        </div>

        <header class="header-field">
            <span>{{localize "BLB.Desc"}}</span>
        </header>
        <div class="form-group">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>