<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header loot-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'BLB.ItemName' }}"/>
            </h1>
            <!--
                        <div class="item-subtitle">
                            <h4 class="item-type">{{itemType}}</h4>
                            <span class="item-status">{{itemStatus}}</span>
                        </div>
            -->

        </div>
    </header>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">
        <div class="tab flexrow active" data-group="primary" data-tab="description">

            <div class="item-properties" style="flex: 0.40; padding-right: 5px;">

                <div class="form-group">
                    <label>{{ localize "BLB.Quantity" }}</label>
                    <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
                </div>

                <div class="form-group">
                    <label>{{ localize "BLB.Weight" }}</label>
                    <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
                </div>

                <div class="form-group">
                    <label>Value</label>
                    <input type="text" name="data.price" value="{{data.price}}" data-dtype="Number"/>
                </div>


            </div>

            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
